<div class="box">
  <div class="image-container">
    <div
      class="image"
      [style.background-image]="'url(' + merchant.coverImageId + ')'"
    ></div>
  </div>
  <div class="text-container">
    <div class="title">
      <h2 class="font-black">{{ merchant.shopNameTH }}</h2>
      <div class="tag green" *ngIf="merchant.isOpen === 'Y'">เปิดอยู่</div>
      <div class="tag gray" *ngIf="merchant.isOpen === 'N'">ปิดแล้ว</div>
    </div>
    <!-- if image not work -->
    <div class="detail">
      {{ merchant.subcategoryName }}
      <span *ngIf="merchant.priceLevel" class="nowrap">
        <span class="separator-text">|</span>
        <span [class.font-black]="merchant.priceLevel > 0">฿</span>
        <span [class.font-black]="merchant.priceLevel > 1">฿</span>
        <span [class.font-black]="merchant.priceLevel > 2">฿</span>
        <span [class.font-black]="merchant.priceLevel > 3">฿</span>
      </span>
      <span
        *ngIf="merchant.addressDistrictName || merchant.addressProvinceName"
      >
        <span class="separator-text">|</span>{{ merchant.addressDistrictName }}
        {{ merchant.addressProvinceName }}</span
      >
    </div>
    <mat-divider></mat-divider>
    <div class="content">
      <div [innerHTML]="merchant.highlightText"></div>
      <div *ngIf="merchant.recommendedItems">
        <b class="font-dark">{{ recommendedText }}: </b>
        <span *ngFor="let item of merchant.recommendedItems"> {{ item }} </span>
      </div>
      <div>
        <span *ngFor="let facility of merchant.facilities">
          <span
            class="material-icons md-18 circle-border"
            [matTooltip]="facility"
          >
            {{ getIconName(facility) }}
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
