.box {
  padding: 1rem;
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid rgb(160, 174, 192);
  background-color: #ffffff;
  border-radius: 0.125rem;
}

.filter-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  label {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
  }
}

.radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    margin-bottom: 4px;
  }
}
