.filter-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  label {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: bold;
  }
}

.select-icon {
  position: absolute;
  transform: translateY(-5px);
}

.select-text {
  margin-left: 24px;
}

.radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    margin-bottom: 4px;
  }
}
