<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="over"
    position="end"
    [fixedInViewport]="true"
    class="side-toggle"
  >
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <span class="header">กรอกผล</span>
    </mat-toolbar>
    <div class="filter-container">
      <app-filter></app-filter>
      <button mat-stroked-button color="primary">ตกลง</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (openEvent)="openSideBar()"></app-header>
    <app-nav></app-nav>
    <app-main></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
