<section class="header">
  <!-- <img class="logo" src="assets/img/halfhalf-logo.png" alt="logo" /> -->
  <div class="logo">
    <div class="logo-img">
      <span class="material-icons jigsaw-blue">extension</span>
      <span class="material-icons jigsaw-white">extension</span>
      <span class="material-icons heart">favorite</span>
    </div>
    <div class="logo-text">คนละครึ่ง</div>
  </div>

  <div class="input-group">
    <mat-form-field
      class="example-full-width"
      appearance="outline"
      class="custom-mat-form-field left-input"
    >
      <mat-select [(ngModel)]="searchFilter.province">
        <mat-option
          *ngFor="let provinces of filter?.provinces"
          [value]="provinces"
        >
          {{ provinces }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width right-input" appearance="outline">
      <input matInput [placeholder]="hintTextSearch" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <button mat-icon-button (click)="openFilter()" class="action-mobile">
    <mat-icon>filter_alt</mat-icon>
  </button>
</section>
