<section class="header">
  <div class="logo">
    <div class="logo-img">
      <span class="material-icons jigsaw-blue">extension</span>
      <span class="material-icons jigsaw-white">extension</span>
      <span class="material-icons heart">favorite</span>
    </div>
    <div class="logo-text">คนละครึ่ง</div>
  </div>

  <div class="input-group">
    <mat-form-field
      class="example-full-width"
      appearance="outline"
      class="custom-mat-form-field left-input"
    >
      <mat-select
        [(ngModel)]="searchFilter.province"
        (ngModelChange)="searchChanged()"
      >
        <mat-select-trigger>
          <mat-icon
            *ngIf="
              searchFilter.province === 'พื้นที่ใกล้ฉัน' ||
              searchFilter.province === 'สถานที่ทั้งหมด'
            "
            class="select-icon"
          >
            location_on
          </mat-icon>
          <span
            [class.select-text]="
              searchFilter.province === 'พื้นที่ใกล้ฉัน' ||
              searchFilter.province === 'สถานที่ทั้งหมด'
            "
            >{{ searchFilter.province }}</span
          >
        </mat-select-trigger>
        <mat-option [value]="'พื้นที่ใกล้ฉัน'">
          <mat-icon>location_on</mat-icon>
          พื้นที่ใกล้ฉัน
        </mat-option>
        <mat-option [value]="'สถานที่ทั้งหมด'">
          <mat-icon>location_on</mat-icon>
          สถานที่ทั้งหมด
        </mat-option>
        <mat-option
          *ngFor="let provinces of filter?.provinces || []"
          [value]="provinces"
        >
          {{ provinces }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="right-input">
      <input matInput [placeholder]="hintTextSearch" />
      <mat-icon matSuffix class="mg-8">search</mat-icon>
    </mat-form-field>
  </div>

  <button mat-icon-button (click)="openFilter()" class="action-mobile">
    <mat-icon>filter_alt</mat-icon>
  </button>
</section>
