<section class="header">
  <img src="assets/img/halfhalf-logo.png" alt="logo" />

  <form class="example-form">
    <mat-form-field
      class="example-full-width"
      appearance="outline"
      class="custom-mat-form-field"
    >
      <select matNativeControl placeholder="Ex. Pizza" value="Sushi">
        <option *ngFor="let provinces of filter?.provinces" [value]="provinces">
          {{ provinces }}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput [placeholder]="hintTextSearch" />
    </mat-form-field>
  </form>

  <button
    mat-icon-button
    aria-label="Example icon-button with a heart icon"
    (click)="openFilter()"
  >
    <mat-icon>filter_alt</mat-icon>
  </button>
</section>
