.container {
  background: linear-gradient(rgb(255, 255, 255) 20%, rgb(142, 208, 241));
  background-attachment: fixed;
}

mat-sidenav-content {
  padding: 1rem;
  background: linear-gradient(rgb(255, 255, 255) 20%, rgb(142, 208, 241));
  background-attachment: fixed;
}

.side-toggle {
  width: 100%;
}

.side-open {
  width: 240px;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side content";

  .filter {
    grid-area: side;
    width: 350px;
    padding-right: 32px;
  }

  .merchant {
    grid-area: content;
    display: flex;
    flex-direction: column;

    .box {
      display: grid;
      grid-template-columns: 240px 1fr;
      grid-template-areas: "image-container text-container";
      min-height: 232px;
      background-color: white;
      border: 1px solid rgb(201, 225, 233);
    }
  }
}
