.container {
  padding: 1rem;
  background: linear-gradient(rgb(255, 255, 255) 20%, rgb(142, 208, 241));
  background-attachment: fixed;
}

.title {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "side content";

  .filter {
    grid-area: side;
    width: 350px;
    padding-right: 32px;

    .box {
      display: block;
      padding: 1rem;
      color: rgba(0, 0, 0, 0.85);
      border: 1px solid rgb(160, 174, 192);
      background-color: #ffffff;
      border-radius: 0.125rem;
    }
  }

  .merchant {
    grid-area: content;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .grid-container {
    .filter {
      display: none;
    }
  }
}
